<div class="container mt-4">
  <div>
    <h2 class="text-primary text-center mb-4">Admin Dashboard</h2>
  
    <div class="row">
      <!-- Card: Total Students -->
      <div class="col-md-4 mb-3">
        <div class="card shadow border-primary">
          <div class="card-body text-center">
            <h5 class="card-title text-primary">Total Students</h5>
            <h3>{{ dashboard?.studentNumber }}</h3>
          </div>
        </div>
      </div>
  
      <!-- Card: Completed Exams -->
      <div class="col-md-4 mb-3">
        <div class="card shadow border-info">
          <div class="card-body text-center">
            <h5 class="card-title text-info">Completed Exams</h5>
            <h3>{{ dashboard?.examCompleted }}</h3>
          </div>
        </div>
      </div>
  
      <!-- Card: Passed Exams -->
      <div class="col-md-4 mb-3">
        <div class="card shadow border-success">
          <div class="card-body text-center">
            <h5 class="card-title text-success">Passed Exams</h5>
            <h3>{{ dashboard?.passedExams }}</h3>
          </div>
        </div>
      </div>
  
      <!-- Card: Failed Exams -->
      <div class="col-md-4 mb-3">
        <div class="card shadow border-danger">
          <div class="card-body text-center">
            <h5 class="card-title text-danger">Failed Exams</h5>
            <h3>{{ dashboard?.failedExam }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- studentsList -->
  <div class="container mt-4">
    <h2 class="text-primary text-center mb-4">Student List</h2>
    <div class="row">
      <div class="col-2">
        <div class="dataTables_length"><label>Show
            <select [(ngModel)]="filter.pageSize" (change)="getAllStudents()">
              <option value="1">1</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select> entries</label>
        </div>
      </div>
    </div>
    <div class="col-md-10 text-end">
      <div class="btn-group" id="radioBtn">
        <a class="btn btn-primary btn-sm" (click)="onPrevious()">Previous</a>
        <span class="btn btn-primary btn-sm active">Current Page</span>
        <a class="btn btn-primary btn-sm" (click)="onNext()">Next</a>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">User Name</th>
          <th scope="col">Email</th>
          <th scope="col">Active</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td>{{ student.id }}</td>
          <td>{{ student.userName }}</td>
          <td>{{ student.email }}</td>
          <td>
            <button 
          class="btn"
          [ngClass]="student.active ? 'btn-success' : 'btn-danger'"
          (click)="toggleActiveStatus(student)"
        >
          {{ student.active ? 'Active' : 'Inactive' }}
        </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="mt-4">
    <h4>Completed Exams Details</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>subject</th>
          <th>Student Id</th>
          <th>Date</th>
          <th>Student status</th>
        </tr>
      </thead>
      <tbody>
          @for(exam of examResults; track exam.name){
              <tr>
                  <td>{{ 1 }}</td>
                  <td>{{ exam.subjectName }}</td>
                  <td>{{ exam.studentName }}</td>
                  <td>{{ exam.dateTime }}</td>
                  <td>{{ exam.status ? 'Pass' : 'Fail' }}</td>
                </tr>
          }
      </tbody>
    </table>
  </div>
</div>
  