<div class="container mt-4">
    <h2 class="text-center text-success">Take Exam</h2>

    <!-- Random Exam Questions -->
    <div *ngIf="randomExam && randomExam.questions.length > 0">
        <!-- Countdown Timer -->
      <div class="text-center">
        <p>Time Remaining: {{ formattedTime }}</p>
      </div>

      <form>
        <div *ngFor="let question of randomExam.questions; let i = index" class="card mt-3 shadow-sm">
          <div class="card-header bg-success text-white">
            <span class="fw-bold">Question {{ i + 1 }}:</span> {{ question.text }}
          </div>
          <div class="card-body bg-light">
            @for (answer of question.answers; track answer.answerId) {
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="question{{ question.questionId }}"
                [value]="answer.answerId"
                (change)="onAnswerChange(question.questionId, answer.answerId)"
              />
              <label class="form-check-label">{{ answer.text }}</label>
            </div>
            }
          </div>
        </div>
        <button
          type="button"
          class="btn btn-success mt-4 w-100"
          [disabled]="!isReadyToSubmit() || remainingTime <= 0"
          (click)="submitExam()"
        >
          Submit Exam
        </button>
      </form>
      <!-- Time is up message -->
      <div *ngIf="remainingTime <= 0" class="alert alert-danger text-center mt-4">
        <p class="fw-bold">Time's up! Your exam has been submitted automatically.</p>
      </div>
    </div>
  
    <!-- Loading State -->
    <div *ngIf="!randomExam || randomExam.questions.length === 0" class="text-center mt-4">
      <p class="text-muted">Loading random exam...</p>
    </div>

  
  </div>
  