<div class="container mt-4">
  <h2 class="text-primary text-center mb-4">Add New Question</h2>

  <form class="p-4 shadow rounded bg-light" (ngSubmit)="addQuestion()">
    <!-- Subject ID -->
    <div class="form-group mb-3">
      <label for="subjectId" class="form-label">Subject ID</label>
      <input
        type="text"
        id="subjectId"
        [(ngModel)]="newQuestion.subjectId"
        name="subjectId"
        class="form-control"
        required
      />
    </div>

    <!-- Question Text -->
    <div class="form-group mb-3">
      <label for="text" class="form-label">Question Text</label>
      <textarea
        id="text"
        [(ngModel)]="newQuestion.text"
        name="text"
        class="form-control"
        rows="3"
        required
      ></textarea>
    </div>

    <!-- Options -->
    <div class="form-group mb-3">
      <label for="options" class="form-label">Options</label>
      @for(option of newQuestion.options; let i = $index;track i){
        <div  class="d-flex align-items-center mb-2">
          <input
            type="text"
            [(ngModel)]="newQuestion.options[i]"
            name="option{{ i }}"
            class="form-control me-2"
            required
          />
          <button
            type="button"
            class="btn btn-danger"
            (click)="removeOption(i)"
            [disabled]="option.length < 1"
          >
            Remove
          </button>
        </div>
      }
     
      <button type="button" class="btn btn-secondary mt-2" (click)="addOption()">Add Option</button>
    </div>

    <!-- Correct Answer -->
    <div class="form-group mb-3">
      <label for="correctAnswer" class="form-label">Correct Answer</label>
      <input
        type="text"
        id="correctAnswer"
        [(ngModel)]="newQuestion.correctAnswer"
        name="correctAnswer"
        class="form-control"
        required
      />
    </div>

    <button type="submit" class="btn btn-primary">Submit Question</button>

    @if(submitError){
      <div class="text-danger text-center mt-2">
          {{ submitError }}
      </div>
      }

  </form>
</div>