<div class="container mt-4">
    <h2 class="text-center text-primary mb-4">Student Dashboard</h2>
  
    <!-- List of Subjects -->
    <div class="card mb-4">
      <div class="card-header">
        <h4>Subjects</h4>
      </div>
      <div class="card-body">
        <ul class="list-group">
            @for(subject of subjects; track subject.subjectId){
                <li class="list-group-item">
                    <div class="d-flex justify-content-between">
                        <span>{{ subject.name }}</span>
                    </div>
                </li>
            }
        </ul>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header">
        <h4>Exam History</h4>
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>Exam ID</th>
              <th>Subject Name</th>
              <!-- <th>student Name</th> -->
              <th>Date</th>
              <th>Score</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <!-- @for(exam of examHistory; track exam.examId){ -->
            <tr *ngFor="let exam of examHistory; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ exam.examId }}</td>
                    <!-- <td>{{ exam.studentId }}
                      <button class="btn btn-info btn-sm" (click)="getStudentHistory(exam.studentId)">
                        View student History
                    </button>
                    </td> -->
                    <td>{{ exam.subjectName}}</td>
                    <td>{{ exam.dateTime | date}}</td>
                    <td>{{ exam.score }}</td>
                    <td>{{ exam.status == true ? 'Pass' : 'Fail' }}</td>
                </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  